; This file is for unifying the coding style for different editors and IDEs.
; For more information visit http://editorconfig.org.

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
