language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

before_script:
 - composer install --prefer-source --optimize-autoloader

script: vendor/bin/phpunit --bootstrap vendor/autoload.php tests
