default:
  suites:
    application:
      paths:
        - tests/features/application/
        - tests/features/adapters/
        - tests/features/formatters/
        - tests/features/reviews/
      contexts:
        - StaticReview\StaticReview\Test\Context\ApplicationContext
        - StaticReview\StaticReview\Test\Context\FilesystemContext
