default:
  suites:
    application:
      paths:
        - test/features/application/
      contexts:
        - MainThread\StaticReview\Test\Context\ApplicationContext
        - MainThread\StaticReview\Test\Context\FilesystemContext
